/* lightbox thumbnails */

.upgfw-lightbox-container .upgfw-lightbox-thumbnails {
	width: 158px;
	height: calc(100% - 50px);
	position: absolute;
	z-index: 2;
	top: 50px
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-left {
	left: 0;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-right {
	right: 0;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails li {
	position: relative;
	width: 150px;
	background: #fff;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-right li {
	float: right;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-left li {
	float: left;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-style-1 li.active:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 4;
	width: 6px;
	height: 6px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-right.upgfw-style-1 li.active:after {
	border-right: 6px solid #f1f1f1;
	left: -6px;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-left.upgfw-style-1 li.active:after {
	border-left: 6px solid #f1f1f1;
	right: -6px;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-style-1 li.active:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 5;
	width: 6px;
	height: 6px;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-right.upgfw-style-1 li.active:before {
	border-bottom: 6px solid transparent;
	border-right: 6px solid #fff;
	border-top: 6px solid transparent;
	left: -5px;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-left.upgfw-style-1 li.active:before {
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff;
	border-top: 6px solid transparent;
	right: -5px;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails li a {
	display: table-cell;
	text-align: center;
	width: 150px;
	position: relative;
	padding: 15px 30px;
	opacity: 0.7;
	border: 0;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-style-1 li a {
	border-style: solid;
	border-color: #f1f1f1;
	border-bottom-width: 1px;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-right.upgfw-style-1 li a {
	border-left-width: 1px;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-left.upgfw-style-1 li a {
	border-right-width: 1px;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails li.active a {
	opacity: 1;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-right.upgfw-style-2 li a {
	border-left: 1px solid transparent;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-left.upgfw-style-2 li a {
	border-right: 1px solid transparent;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-right.upgfw-style-2 li.active a {
	border-left: 1px solid #f1f1f1;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-left.upgfw-style-2 li.active a {
	border-right: 1px solid #f1f1f1;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails li a img {
	width: 100%;
}

/* lightbox content */

.upgfw-lightbox-container .upgfw-lightbox-content {
	width: calc(100% - 150px);
	height: calc(100% - 50px);
	position: relative;
}

.upgfw-lightbox-container .upgfw-lightbox-content.upgfw-position-left {
	float: left
}

.upgfw-lightbox-container .upgfw-lightbox-content.upgfw-position-right {
	float: right
}

.upgfw-lightbox-container .upgfw-lightbox-content>li {
	background: #fff;
	opacity: 0;
	text-align: center;
	height: 100%;
	visibility: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	bottom: 0;
	right: 0;
	transition: visibility 500ms ease, opacity 500ms ease;
	-webkit-transition: visibility 500ms ease, opacity 500ms ease;
}

.upgfw-lightbox-container .upgfw-lightbox-content>li:first-child {
	transition: none!important;
	-webkit-transition: none!important
}

.upgfw-lightbox-container .upgfw-lightbox-content>li.active {
	opacity: 1;
	visibility: visible
}

.upgfw-lightbox-container .upgfw-centered-flex {
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-height: 100%;
	position: relative;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
}

.upgfw-lightbox-container .upgfw-centered-flex img {
	max-width: 100%;
	max-height: 90%;
}

.upgfw-lightbox-container .upgfw-lightbox-image.upgfw-pan {
	cursor: zoom-in;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails .mCSB_container {
	margin: 0!important
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails .mCSB_scrollTools {
	top: 8px!important;
	bottom: 8px!important;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-right .mCSB_scrollTools {
	right: 8px !important;
	left: auto !important;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails.upgfw-position-left .mCSB_scrollTools {
	left: 8px !important;
	right: auto !important;
}

.upgfw-lightbox-container .upgfw-lightbox-thumbnails .mCSB_draggerContainer {
	bottom: 15px!important;
	top: 15px!important
}

.zoomContainerLightbox {
	z-index: 999999999;
}